<div ng-repeat="(key, value) in ctrl.Admin.schema" ng-if="value.instance && value.instance !== 'Hidden'">

  <!-- Not an Array or an Image -->
  <div class="form-group" ng-if="value.instance != 'Relationships' && 
                                 value.instance != 'Boolean' && 
                                 value.instance != 'ObjectID' && 
                                 value.instance != 'Array' && 
                                 value.instance != 'Date' && 
                                 value.instance != 'Image' &&
                                 value.instance != 'wysiwyg'">
    <label for="{{key}}" class="col-sm-2 control-label">{{ctrl.Admin.schema[key].displayName || key}}</label>
    <div class="col-sm-8">
      <input type="text" ng-model="ctrl.object[key]" id="{{key}}" placeholder="{{key}}" class="form-control">
    </div>
  </div>

  <!-- wysiwyg -->

  <span ng-if="value.instance == 'wysiwyg'">
    <label for="{{key}}" class="col-sm-2 control-label">{{ctrl.Admin.schema[key].displayName || key}}</label>
    <div id="{{key}}" class="summernote" ng-model="ctrl.object[key]"></div>
  </span>

  <!-- Date type -->
  <div class="form-group" ng-if="value.instance == 'Date'">
    <label for="{{key}}" class="col-sm-2 control-label">{{ctrl.Admin.schema[key].displayName || key}}</label>
    <div class="col-sm-4">
      <input type="datetime-local" ng-model="ctrl.object[key]" id="{{key}}" class="form-control">
    </div>
  </div>

  <!-- Boolean type -->
  <div class="form-group" ng-if="value.instance == 'Boolean'">
    <label for="{{key}}" class="col-sm-2 control-label">{{ctrl.Admin.schema[key].displayName || key}}</label>
    <div class="col-sm-8">
      <input type="checkbox" ng-model="ctrl.object[key]" id="{{key}}">
    </div>
  </div>

  <!-- An Array type -->
  <div class="form-group" ng-if="value.instance == 'Array'">
    <label for="{{key}}" class="col-sm-2 control-label">{{ctrl.Admin.schema[key].displayName || key}}</label>
    <div class="col-sm-8">
      <ui-select multiple tagging tagging-label="(add)" ng-model="ctrl.object[key]" sortable="true" title="Add {{key}}">
        <ui-select-match placeholder="Add {{key}}...">{{$item}}</ui-select-match>
        <ui-select-choices repeat="choice in [] | filter:$select.search">
          {{choice}}
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <!-- Relationship ObjectID type -->
  <div class="form-group" ng-if="value.instance == 'ObjectID' && key != '_id'" ng-init="ctrl.findRelationshipObjects(ctrl.Admin.schema[key].options.ref, key)">
    <label for="{{key}}" class="col-sm-2 control-label">{{ctrl.Admin.schema[key].displayName || key}}</label>
    <div class="col-sm-8">
      <ui-select ng-model="ctrl.object[key]" title="Add {{key}}">
        <ui-select-match>{{$select.selected[(ctrl.Admin.schema[key].searchBy || 'displayName')]}}</ui-select-match>
        <ui-select-choices repeat="choice._id as choice in ctrl.relationshipObjects[key] | filter: { {{(ctrl.Admin.schema[key].searchBy || 'displayName')}}: $select.search }">
          <div ng-bind-html="choice[(ctrl.Admin.schema[key].searchBy || 'displayName')] | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <a ng-click="ctrl.object[key]=null">Clear</a>
    </div>
  </div>

  <!-- Multiple Relationships - Array of relationship IDs -->
  <div class="form-group" ng-if="value.instance == 'Relationships'" ng-init="ctrl.findRelationshipObjects(ctrl.Admin.schema[ctrl.Admin.schema[key].relationshipKey].options.ref, key)">
    <label for="{{key}}" class="col-sm-2 control-label">{{ctrl.Admin.schema[key].displayName || key}}</label>
    <div class="col-sm-8">
      <ui-select multiple tagging tagging-label="(add)" ng-model="ctrl.object[key]" title="Add {{key}}">
        <ui-select-match placeholder="Add {{key}}...">{{$item[(ctrl.Admin.schema[key].searchBy || 'displayName')]}}</ui-select-match>
        <ui-select-choices repeat="choice._id as choice in ctrl.relationshipObjects[ctrl.Admin.schema[key].relationshipKey] | filter: { {{(ctrl.Admin.schema[key].searchBy || 'displayName')}}: $select.search }">
          <div ng-bind-html="choice[(ctrl.Admin.schema[key].searchBy || 'displayName')] | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <!--  An Image type -->
  <div class="form-group" ng-if="value.instance == 'Image'">
    <label class="col-sm-2 control-label">{{ctrl.Admin.schema[key].displayName || key}}</label>
    <div class="col-sm-2" ng-if="ctrl.object[key]">
      <img ng-if="ctrl.object[key].hostedType && ctrl.object[key].hostedType == 'external'" ng-src="{{ctrl.object[key].styles.thumb_square}}" style="max-width: 200px; max-height: 200px;">
      <img ng-if="ctrl.object[key] && (!ctrl.object[key].hostedType || ctrl.object[key].hostedType == 'local')" ng-src="{{ctrl.Admin.constant.AWS_S3_BASE_URL}}/{{ctrl.object[key].styles.thumb_square}}" style="max-width: 200px; max-height: 200px;">
    </div>
    <div class="col-sm-2">
      <file-upload for-file="ctrl.object[key]" multiple="false" max-file-size="'5MB'">Drop new image here</file-upload>
    </div>
  </div>

</div>
