<ul class="list-group custom-form">
  <li class="list-group-item" ng-repeat="(key, value) in schema track by $index" ng-if="key !== 'displayName' && key !== 'displayKey' && value.instance !== 'Hidden'">

    <!-- String or ID -->
    <span ng-if="value.instance == 'String' || key == '_id'"><strong>{{schema[key].displayName || key}}:</strong> {{object[key]}}</span>

    <!-- ObjectID that isn't the object ID -->
    <span ng-if="value.instance == 'ObjectID' && key != '_id'">
      <strong>{{schema[key].displayName || key}}:</strong>
      <a ui-sref="admin-show({
                    className: schema[key].options.ref,
                    id: (object[key]._id || object[key])
                  })">{{(object[key][schema[key].displayKey] || object[key] )}}</a>
    </span>

    <!-- Mixed -->
    <span ng-if="value.instance == 'Mixed'">
      <pre>{{object[key] | json}}</pre>
    </span>

    <!-- Custom object type -->
    <div ng-if="value.instance === 'CustomObject'">
      <div class="row">
        <div class="col-sm-1">
          <label for="{{key}}">{{schema[key].displayName || key}}</label>
        </div>
        <div class="col-sm-11">
          <div class="row">
            <div class="col-sm-12 custom-object" schema-show object="object[key]" Admin="admin" schema="value.schema.paths" ctrl="ctrl"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- An array of custom objects type or embedded schema -->
    <div ng-if="value.instance === 'Array' || value.instance === 'EmbeddedSchema' && value.schema">
      <div class="row">
        <div class="col-sm-1">
          <label for="{{key}}">{{schema[key].displayName || key}}</label>
        </div>
        <div class="col-sm-11">
          <div ng-repeat="(dataIndex, dataObject) in object[key] track by $index" class="custom-object">
            <div class="row">
              <div ng-repeat="customObject in [value.schema.paths] track by $index">
                <div class="col-sm-12" schema-show object="object[key][dataIndex]" Admin="admin" schema="customObject" ctrl="ctrl"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Array -->
    <span ng-if="value.instance == 'Array' && value.schema">
      <div class="row">
          <div class="col-sm-1">
            <strong class="text-wordwrap">{{schema[key].displayName || key}}:</strong>
          </div>
          <div class="col-sm-11">
            <div ng-repeat="(dataIndex, dataObject) in object[key] track by $index" class="custom-object">
              <div class="row">
                <div ng-repeat="customObject in [value.schema.paths] track by $index">
                  <div class="col-sm-12" schema-show object="object[key][dataIndex]" Admin="admin" schema="customObject" ctrl="ctrl"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </span>

    <!-- Array-No-Commas -->
    <span ng-if="value.instance == 'Array-No-Commas' && value.schema">
      <div class="row">
          <div class="col-sm-1">
            <strong class="text-wordwrap">{{schema[key].displayName || key}}:</strong>
          </div>
          <div class="col-sm-11">
            <div ng-repeat="(dataIndex, dataObject) in object[key] track by $index" class="custom-object">
              <div class="row">
                <div ng-repeat="customObject in [value.schema.paths] track by $index">
                  <div class="col-sm-12" schema-show object="object[key][dataIndex]" Admin="admin" schema="customObject" ctrl="ctrl"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </span>

    <!-- ImagesArray -->
    <span ng-if="value.instance === 'ImagesArray'">
      <div class="row">
        <div class="col-sm-1">
          <strong class="text-wordwrap">{{schema[key].displayName || key}}:</strong>
        </div>
        <div class="col-sm-11">
          <div ng-repeat="image in object[key] track by $index" class="array-img padding-right-1x">
            <img ng-src="{{admin.constant.AWS_S3_BASE_URL}}/{{image.styles.thumb_square || image.url}}" style="width: 100%">
          </div>
        </div>
      </div>
    </span>

    <!-- Number -->
    <span ng-if="value.instance == 'Number'"><strong>{{schema[key].displayName || key}}:</strong> {{object[key]}}</span>

    <!-- Date -->
    <span ng-if="value.instance == 'Date'"><strong>{{schema[key].displayName || key}}:</strong> {{object[key] | date:"MM/dd/yyyy 'at' h:mma"}}</span>

    <!-- Children -->
    <span ng-if="key == 'children'">
      <strong>{{schema[key].displayName || key}}:</strong>
      <span ng-repeat="classType in value track by $index">
        <a ui-sref="admin-list({
            className: classType,
            filter: object._id,
            filterClass: Admin.className
          })" class="text-muted">{{ classType }}</a><span ng-if="!$last">,</span>
      </span>
    </span>

    <!-- wysiwyg -->

    <span ng-if="value.instance == 'wysiwyg'">
    <strong>{{schema[key].displayName || key}}:</strong>
    <div ng-bind-html="ctrl.renderHtml(object[key])"></div>
    </span>

    <!-- Array -->
    <span ng-if="key != 'children' && value.instance == 'Array' && !value.schema"><strong>{{schema[key].displayName || key}}:</strong> {{object[key].join(', ')}}</span>

    <!-- Array-No-Commas -->
    <span ng-if="key != 'children' && value.instance == 'Array-No-Commas' && !value.schema"><strong>{{schema[key].displayName || key}}:</strong> {{object[key].join(', ')}}</span>

    <!-- Relationships -->
    <span ng-if="value.instance == 'Relationships'">
      <strong>{{schema[key].displayName || key}}:</strong>
      <span ng-repeat="object in object[key] track by $index">
        <a ui-sref="admin-show({
            className: schema[key].relationshipClass,
            id: (object._id || object)
          })" class="text-muted">{{object[schema[key].displayKey] || object._id || object}}</a><span ng-if="!$last">,</span>
      </span>
    </span>

    <!-- Image -->
    <span ng-if="value.instance == 'Image'">
      <strong>{{schema[key].displayName || key}}:</strong>
      <img ng-src="{{admin.constant.AWS_S3_BASE_URL}}/{{object[key].styles.thumb_square || object[key].url}}" style="max-width: 200px; max-height: 200px;">
    </span>

    <!-- File -->
    <span ng-if="value.instance == 'File'">
      <strong>{{schema[key].displayName || key}}:</strong><br>
      <span ng-if="object[key].name && object[key].url" class="text-wordwrap"><strong>Name:</strong> <a ng-href="{{ctrl.Admin.constant.AWS_S3_BASE_URL}}/{{object[key].url}}" target="_blank">{{object[key].name}}</a></span>
      <br>
      <span ng-if="object[key].type" class="text-wordwrap"><strong>Type:</strong> {{object[key].type}}</span>
      <br>
      <span ng-if="object[key].size" class="text-wordwrap"><strong>size: </strong> {{object[key].size}}</span>
    </span>

    <!-- Boolean -->
    <span ng-if="value.instance == 'Boolean'">
      <strong>{{schema[key].displayName || key}}:</strong>
      <i ng-if="object[key]" class="fa fa-check-circle"></i>
      <i ng-if="!object[key]" class="fa fa-times-circle"></i>
    </span>
  </li>
</ul>
