<div class="container-fluid" ng-init="ctrl.findAll()">
  <div class="page-header">
    <h1>{{ctrl.Admin.schema.displayName || ctrl.Admin.className}}</h1>
    <div class="actions">
      <a ui-sref="admin-new({ className: ctrl.Admin.className })" class="btn btn-primary"><i class="fa fa-plus"></i> Create</a>
      <a ng-click="ctrl.exportToCsv()" class="btn btn-default"><i class="fa fa-file-o" aria-hidden="true"></i> Export to CSV</a>
      <a ng-click="filterToggle = !filterToggle" class="btn btn-default"><i class="fa fa-filter"></i><span ng-show="filterToggle"> Hide Filter</span><span ng-hide="filterToggle"> Show Filter</span></a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-body table-responsive">
          <filter-query ng-if="ctrl.Admin.schema && filterToggle" filters="ctrl.filters" schema="ctrl.Admin.schema" find-all="ctrl.findAll(queryObject)" items-per-page="ctrl.itemsPerPage" skip="ctrl.skip" sort="ctrl.sort"></filter-query>
          <button ng-if="ctrl.selectedItems.length" class="btn btn-danger" ng-click="ctrl.removeMultiple(ctrl.selectedItems)">Delete ({{ctrl.selectedItems.length}}) Items</button>
          <table class="table table-hover"> 
            <thead> 
              <tr>
                <th class="wordwrap-none">
                  <input type="checkbox" ng-model="ctrl.selectedAll" ng-click="ctrl.toggleAllSelection()"></input>
                </th>
                <th ng-repeat="(key, value) in ctrl.Admin.schema" ng-if="value.instance !== 'Hidden'" class="wordwrap-none text-muted">
                  <a ng-click="ctrl.updateSort(key)">
                    {{ctrl.Admin.schema[key].displayName || ctrl.Admin.schema[key].path}}
                    <i ng-class="ctrl.toggle[key] ? 'fa fa-caret-up' : 'fa fa-caret-down'"></i>
                  </a>
                </th>
                <th></th>
                <th></th> 
                <th></th>
              </tr>
            </thead>
            <tbody> 
              <tr ng-repeat="object in ctrl.objects">
                <td><input type="checkbox" ng-model="object.Selected" ng-click="ctrl.toggleSelection(object._id)"></td>

                <!-- Relationship -->
                <td ng-repeat="(key, value) in ctrl.Admin.schema" ng-if="value.instance !== 'Hidden'">
                  <span ng-if="value.instance == 'String' || key == '_id'">{{object[key]}}</span>
                  <span ng-if="key != '_id' && value.instance == 'ObjectID'">
                    <a ui-sref="admin-show({ 
                                  className: ctrl.Admin.schema[key].options.ref, 
                                  id: object[key] 
                                })">{{object[key]}}</a>
                  </span>

                  <!-- Mixed / Object -->
                  <span ng-if="value.instance == 'Mixed'"><i class="text-muted">Mixed</i></span>

                  <!-- Array -->
                  <span ng-if="value.instance == 'Array'">{{object[key].join(', ')}}</span>

                  <!-- Number -->
                  <span ng-if="value.instance == 'Number'">{{object[key]}}</span>

                  <!-- Date -->
                  <span ng-if="value.instance == 'Date'" class="wordwrap-none">{{object[key] | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                
                  <!-- Boolean -->
                  <span ng-if="value.instance == 'Boolean'">
                    <i ng-if="object[key]" class="fa fa-check-circle"></i>
                    <i ng-if="!object[key]" class="fa fa-times-circle"></i>
                  </span>

                  <!-- Image -->
                  <span ng-if="value.instance == 'Image'">
                    <img ng-src="{{ctrl.Admin.constant.AWS_S3_BASE_URL}}/{{object[key].styles.thumb_square}}" ng-if="object[key]" style="max-width: 200px; max-height: 200px;">
                  </span>
                </td>
                
                <td>
                  <button ui-sref="admin-show({ className: ctrl.Admin.className, id: object._id })" class="btn btn-default btn-sm">View</button>
                </td>
                <td>
                  <button ng-click="ctrl.remove(object)" class="btn btn-default btn-sm">Delete</button>
                </td>
                <td>
                  <button ui-sref="admin-edit({ className: ctrl.Admin.className, id: object._id })" class="btn btn-default btn-sm">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
          <uib-pagination total-items="ctrl.totalObjects" items-per-page="ctrl.itemsPerPage" ng-model="ctrl.currentPage" max-size="5" class="pagination" boundary-links="true" force-ellipses="true" ng-change="ctrl.pageChanged()"></uib-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
