<div class="container-fluid" ng-init="ctrl.findOne()">
  <div class="page-header">
    <h1>{{ctrl.object[ctrl.Admin.schema.displayKey] || 'Object'}}</h1>
    <div class="actions">
      <a ui-sref="admin-edit({ className: ctrl.Admin.className, id:ctrl.object._id })" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Edit</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-body table-responsive">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="(key, value) in ctrl.Admin.schema" ng-if="value.instance">

              <!-- String or ID -->
              <span ng-if="value.instance == 'String' || key == '_id'"><strong>{{key}}:</strong> {{ctrl.object[key]}}</span>

              <!-- ObjectID that isn't the object ID -->
              <span ng-if="value.instance == 'ObjectID' && key != '_id'">
                <strong>{{key}}:</strong> 
                <a ui-sref="admin-show({ 
                              className: ctrl.Admin.schema[key].options.ref, 
                              id: ctrl.object[key] 
                            })" class="text-muted">{{ctrl.object[key]}}</a>
              </span>

              <!-- Mixed -->
              <span ng-if="value.instance == 'Mixed'"><strong>{{key}}:</strong> <pre>{{ctrl.object[key]}}</pre></span>

              <!-- Number -->
              <span ng-if="value.instance == 'Number'"><strong>{{key}}:</strong> {{ctrl.object[key]}}</span>

              <!-- Date -->
              <span ng-if="value.instance == 'Date'"><strong>{{key}}:</strong> {{ctrl.object[key] | date:"MM/dd/yyyy 'at' h:mma"}}</span> 

              <!-- Array -->
              <span ng-if="value.instance == 'Array'"><strong>{{key}}:</strong> {{ctrl.object[key].join(', ')}}</span>

              <!-- Image -->
              <span ng-if="value.instance == 'Image'">
                <strong>{{key}}:</strong> 
                <img ng-src="{{ctrl.Admin.constant.AWS_S3_BASE_URL}}/{{ctrl.object[key].styles.thumb_square}}" ng-if="ctrl.object[key]" style="max-width: 200px; max-height: 200px;">
              </span>

              <!-- Boolean -->
              <span ng-if="value.instance == 'Boolean'">
                <strong>{{key}}:</strong> 
                <i ng-if="ctrl.object[key]" class="fa fa-check-circle"></i>
                <i ng-if="!ctrl.object[key]" class="fa fa-times-circle"></i>
              </span>        
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
